.pl1{
    border: 2px solid black;
    padding: 0;
    margin: 0;
    width:380px;
    border-radius:20px;
}
.pl1 img,.pl1 h2,.pl1 p{
    margin: 0;
}
.pl2{
    border: 2px solid black;
    padding: 0;
    margin: 0;
    width:380px;
    border-radius:20px;
}
.pl2 img,.pl2 h2,.pl2 p{
    margin: 0;
}
.pl3{
    border: 2px solid black;
    padding: 0;
    margin: 0;
    width:380px;
    border-radius:20px;
}
.pl3 img,.pl3 h2,.pl3 p{
    margin: 0;
}
.pl6{
    border: 2px solid black;
    padding: 0;
    margin: 0;
    width:380px;
    border-radius:20px;
}
.pl6 img,.pl6 h2,.pl6 p{
    margin: 0;
}
.pl4{
    border: 2px solid black;
    padding: 0;
    margin: 0;
    width:380px;
    border-radius:20px;
}
.pl4 img,.pl4 h2,.pl4 p{
    margin: 0;
}
.pl5{
    border: 2px solid black;
    padding: 0;
    margin: 0;
    width:380px;
    border-radius:20px;
}
.pl5 img,.pl5 h2,.pl5 p{
    margin: 0;
}